-# Banner starts
.bnr#home
  .callbacks_container#top
    %ul.rslides#slider4
      %li=image_tag('bnr-1.jpg')
      %li=image_tag('bnr-2.jpg')
      %li=image_tag('bnr-3.jpg')
  .clearfix
-# Banner ends

- if @brands.empty?
  %h2.text-center No brands
-else
  -#about starts
  .about
    .container
      .about-top.grid-1
        - @brands.each do |i|
          .col-md-4.about-left
            %figure.effect-bubba
              = image_tag(i.img, alt:'', class: 'img-responsive')
              %figcaption
                %h2= i.title
                %p= i.description
        .clearfix
  -# about ends
- if @hits.empty?
  %h2.text-center No hits
-else
  .product
    .container
      .product-top
        .product-one
          - @hits.each do |hit|
            .col-md-3.product-left
              .product-main.simpleCart_shelfItem
                - if hit.imgs.present?
                  = link_to(image_tag(hit.imgs.first, class: 'img-responsive zoom-img'),
                brand_product_path(hit.brand_id, hit), class: 'mask')
                .product-bottom
                  %h3= link_to hit.title, brand_product_path(hit.brand_id, hit)
                  %p Explore Now
                  %h4
                    = link_to "<i></i>".html_safe, cart_items_path, class: 'add-to-cart-link', data: { id: hit.id }
                    %span.item_price= "$#{ hit.price }"
                    -if hit.old_price
                      %small
                        %del= "$#{ hit.old_price }"
                .srch
              %span -50%

          .clearfix
