%section.sky-form
  %h4 Brand
  .row1.row2.scroll-pane
    .col.col-4
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Titan" do
          %i
    .col.col-4
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Casio" do
          %i
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Omax" do
          %i
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Fossil" do
          %i
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Maxima" do
          %i
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Sports" do
          %i
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Sonata" do
          %i
