%section.sky-form
  %h4 Categories
  .row1.scroll-pane
    .col.col-4
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "All Accessories" do
          %i
    .col.col-4
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Women Watches" do
          %i
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Men Watches" do
          %i
        = check_box_tag 'Men Watches'
      %label.checkbox
        %input{:type => "checkbox"}/
        = succeed "Kids Watches" do
          %i
