%section.sky-form
  %h4 Diskount
  .row1.row2.scrol-pane
    .col.col-4
      %label.radio
        %input{type: 'radio'}/
        = succeed "60% and above" do
          %i
      %label.radio
        %input{type: 'radio'}/
        = succeed "50% and above" do
          %i
      %label.radio
        %input{type: 'radio'}/
        = succeed "40% and above" do
          %i
    .col.col-4
      %label.radio
        %input{type: 'radio'}/
        = succeed "30% and above" do
          %i
      %label.radio
        %input{type: 'radio'}/
        = succeed "20% and above" do
          %i
      %label.radio
        %input{type: 'radio'}/
        = succeed "10% and above" do
          %i
