.product-one
  %h3= products_title
  - products.each do |product|
    .col-md-4.product-left.p-left
      .product-main.simpleCart_shelfItem
        - if product.imgs.present?
          = link_to(image_tag(product.imgs.first, class: 'img-responsive zoom-img'),
        brand_product_path(product.brand, product), class: 'mask')
        .product-bottom
          %h3
            = link_to product.title, brand_product_path(product.brand, product.id)
          %p Explore Now
          %h4
            %a.item_add.add-to-cart-link{href:"cart/add?id=#{product.id}", 'data-id': product.id}
              %i
            %span.item_price= "$ #{product.price}"
            - if product.old_price
              %del= product.old_price
        .srch
          %span -50%
