= render 'shared/breadcrumbs', title: @category.title

.prdt
  .container
    .prdt-top
      .col-md-9.prdt-left
        -if !@category_products.empty?
          .product-one
            - @category_products.each do |product|
              .col-md-4.product-left.p-left
                .product-main.simpleCart_shelfItem
                  - if product.imgs.present?
                    = link_to(image_tag(product.imgs.first, class: 'img-responsive zoom-img'),
                  brand_product_path(product.brand, product), class: 'mask')
                  .product-bottom
                    %h3= product.title
                    %p Explore Now
                    %h4
                      %a{ href: 'cart/add?id=#{product.id}', class:'add-to-cart-link', 'data-id': product.id }
                        %i
                      - if product.old_price
                        %small
                          %del= product.old_price
                  .srch.srch1
                    %span -50%
            .clearfix
        - else
          %h3 Category is empty.
      .col-md-3.prdt-right
        = render 'shared/sidebar'
