.prdt
  .container
    .prdt-top
      .col-md-12
        .product-one.signup
          .register-top.heading
            %h2= title

          .register-main
            .col-md-6.account-left
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: form_method }) do |f|
                = render "devise/shared/error_messages", resource: resource
                .form-group
                  = f.label :email
                  %br/
                  = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
                .form-group
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %div
                      Currently waiting confirmation for: #{resource.unconfirmed_email}
                .form-group
                  = f.label :password
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                  %br/
                  = f.password_field :password, autocomplete: "new-password", class: 'form-control'

                .form-group
                  = f.label :password_confirmation
                  %br/
                  = f.password_field :password_confirmation, autocomplete: "new-password",
                  class: 'form-control'

                - if method_put?(form_method)
                  .form-group
                    = f.label :current_password
                    %i (we need your current password to confirm your changes)
                    %br/
                    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
                .actions
                  = f.submit get_button_title(form_method), class: 'btn btn-default'
              - if !method_put?(form_method)
                = render "devise/shared/links"
              - else
                %br/
                %h3 Cancel my account
                %p
                  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
                = link_to "Back", :back
