- unless current_user.nil?
  - if !products.empty?
    .table-responsive
      %table.table.table-hover.table-striped
        %thead
          %tr
            %th Image
            %th Product Name
            %th Quantity
            %th Price
            %th
              %span.glyphicon.glyphicon-remove{'aria-hidden': 'true'}
        %tbody
          - products.each do |item|
            %tr
              %td= get_img_or_title_link(item)
              %td= link_to item.title, brand_product_path(item.brand_id, item.product_id)
              %td= item.quantity
              %td= item.price
              %td
                %span.glyphicon.glyphicon-remove.text-danger.del-item{ 'data-id': item.product_id, 'aria-hidden': 'true' }
          %tr
            %td Quantity:
            %td.text-right.cart-qty{colspan: 4}= "#{get_cart_quantity_sum(products)}"
          %tr
            %td Summary:
            %td.text-right.cart-sum{colspan: 4}= "#{format("%.2f", get_cart_summary(products))} $"
  - else
    %h3 Cart is empty.
- else
  %span Please sign in! To view the cart
  -#FIX
  // :javascript
  //   $(document).on('turbolinks:load', function(){
  //     $('#cart .modal-footer a, #cart .modal-footer .btn-danger').css('display', 'none')
  //   });
