= render partial: 'shared/breadcrumbs', locals: { title: 'Search request...' }
.prdt
  .container
    .prdt-top
      .col-md-9.prdt-left
        - if @products
          = render partial: 'shared/product/products', locals: { products_title: '', products: @products }
