- if user_signed_in?
  - if current_user.try(:admin)
    %li
      = link_to 'Administrator', "#", style: 'color: red'
    %li
      = link_to 'API', '/oauth/applications', style: 'color: blue'
  %li
    = link_to "Hi, #{current_user.email}", "#"
  %li
    = link_to "Logout", destroy_user_session_path, method: :delete
  %li
    = link_to 'Profile', edit_user_registration_path
- else
  %li
    = link_to 'Login', new_user_session_path
  %li
    = link_to 'Sign Up', new_user_registration_path
