.container
  .header
    .col-md-9.header-left
      .top-nav
        %ul.memenu.skyblue
          %li.active= link_to 'Home', root_path
          - categories.each do |category|
            - cache category do
              %li.grid
                = link_to category.title, category_path(category.id)
                - if category.children.present?
                  .mepanel
                    .row
                      .col1.me-one
                        = render 'shared/menu/menu', category: category, cached: true
      .clearfix
    .col-md-3.header-right
      .search-bar
        //Search
        = form_with(url: '/search', method: 'get', html: { autocomplete: 'off'}) do |f|
          = f.text_field :query, class: 'typeahead', id: 'typeahead',  placeholder: 'Search...'
          = f.submit ""
    .clearfix
