.information
  .container
    .infor-top
      .col-md-3.infor-left
        %h3 Follow Us
        %ul
          %li
            %a{href: "#"}
              %span.fb
              %h6 Facebook
          %li
            %a{href: "#"}
              %span.twit
              %h6 Twitter
          %li
            %a{href: "#"}
              %span.google
              %h6 Google
      .col-md-3.infor-left
        %h3 Information
        %ul
          %li=link_to "<p>Specials</p>".html_safe, "#"
          %li=link_to "<p>New Products</p>".html_safe, "#"
          %li=link_to "<p>Our Stores</p>".html_safe, "#"
          %li=link_to "<p>Contact Us</p>".html_safe, "#"
          %li=link_to "<p>Top Sellers</p>".html_safe, "#"
      .col-md-3.infor-left
        %h3 My Account
        %ul
          %li=link_to "<p>My Account</p>".html_safe, "#"
          %li=link_to "<p>My credit slips</p>".html_safe, "#"
          %li=link_to "<p>My Merchandise returns</p>".html_safe, "#"
          %li=link_to "<p>My Personal Info</p>".html_safe, "#"
          %li=link_to "<p>My addresses</p>".html_safe, "#"
      .col-md-3.infor-left
        %h3 Store information
        %h4 The company name,
          %span Lorem ipsum dolor
          Glasglow Dr 40 Fe 72,
        %h5 +955 123 4567
        %p=mail_to "contact@example.com"
      .clearfix
.footer
  .container
    .footer-top
      .col-md-6.footer-left
        = form_with(model: Newsletter.new, url: subscribe_path) do |f|
          = f.text_field :email, {placeholder: 'Enter Your Email', required: true}
          = f.submit 'Subscribe!'
.modal.fade#cart{'tabindex': '-1', role: 'dialog', 'aria-label': 'myModalLabel'}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      .modal-header
        %button{class: 'close', 'data-dismiss': 'modal', 'arial-label': 'Close'}
          %span{'aria-hidden': true}
        %h4.modal-title#myModalLabel Cart
      .modal-body
      .modal-footer
        %button{class: 'btn btn-default', 'data-dismiss': 'modal'} Continue shopping
        %a{href: 'cart/index', type: 'button', class: 'btn btn-primary'} Order
        %button{class: 'btn btn-danger clearCart'} Clear cart
