.top-header
  .container
    .top-header-main
      .col-md-6.top-header-left
        .drop
          .box
            = select :currencies, :currency, ['Euro', 'Dollar'], {selected: 'Euro'}, {tabindex: '4', class: 'dropdown'}
          .box1
            = select :languages, :language, ['English', 'Polish'], {selected: 'English'}, {tabindex: '4', class: 'dropdown'}
          .btn-group
            %a{class: 'dropdown-toggle', 'data-toggle': 'dropdown'}
              Account
              %span.caret
            %ul.dropdown-menu
              = render 'shared/main/account_menu'
          .clearfix
      .col-md-6.top-header-left
        .cart.box_1
          %a{href: cart_path, remote: true, class: 'cart-link'}
            .total
              = image_tag 'cart-1.png'
              - if items.any?
                %span.simpleCart_total
                  = "#{format("%.2f", get_cart_summary(items))} $"
              - else
                %span.simpleCart_total Empty Cart
          .clearfix
      .clearfix
