.field-unit__label
  = f.label field.attribute
- if field.attribute == 'ancestry'.to_sym
  .field-unit__field
    - if field.selectable_options.first&.is_a?(Array)
      = f.select(                             |
          field.attribute,                    |
          options_from_collection_for_select( |
            field.selectable_options,         |
            :last,                            |
            :first,                           |
            field.data.presence,              |
          ),                                  |
          include_blank: 'Primary Category'   |
        )                                     |
    - else
      = f.select(                             |
          field.attribute,                    |
          options_from_collection_for_select( |
            field.selectable_options,         |
            :to_s,                            |
            :to_s,                            |
            field.data.presence,              |
          ),                                  |
          include_blank: 'Primary Category'   |
        )                                     |
- else
  .field-unit__field
    - if field.selectable_options.first&.is_a?(Array)
      = f.select(                             |
          field.attribute,                    |
          options_from_collection_for_select( |
            field.selectable_options,         |
            :last,                            |
            :first,                           |
            field.data.presence,              |
          )                                   |
        )                                     |
    - else
      = f.select(                             |
          field.attribute,                    |
          options_from_collection_for_select( |
            field.selectable_options,         |
            :to_s,                            |
            :to_s,                            |
            field.data.presence,              |
          )                                   |
        )                                     |
