= render 'shared/breadcrumbs', title: @product.title

.single.contact
  .container
    .single-main
      .col-md-9.single-main-left
        .sngl-top
          .col-md-5.single-top-left
            .flexslider
              %ul.slides
                -# - 3.times do |i|
                %li{'data-thumb': "#{asset_path 's-1.jpg'}"}
                  .thumb-image
                    %img{src: "#{asset_path 's-1.jpg'}", 'data-imagezoom': true, class:'img-responsive'}
                %li{'data-thumb': "#{asset_path 's-2.jpg'}"}
                  .thumb-image
                    %img{src: "#{asset_path 's-2.jpg'}", 'data-imagezoom': true, class:'img-responsive'}
                %li{'data-thumb': "#{asset_path 's-3.jpg'}"}
                  .thumb-image
                    %img{src: "#{asset_path 's-3.jpg'}", 'data-imagezoom': true, class:'img-responsive'}
          .col-md-7.single-top-right
            .single-para.simpleCart_shelfItem
              %h2= @product.title
              .star-on
                %ul.star-footer
                  %li
                    = link_to "#" do
                      %i
                .review
                  -# TODO
                  = link_to "1 customer review", "#"
                .clearfix

                %h5.item_price= "$ #{@product.price}"
                - if @product.old_price
                  %del= @product.old_price
                %p= @product.content
                .available
                  %ul
                    %li
                      Color
                      %select
                        %option Silver
                        %option Black
                        %option Dark Black
                        %option Red
                    %li.size-in
                      Size
                      %select
                        %option Large
                        %option Medium
                        %option Small
                    .clearfix
                  %ul.tag-men
                    %li
                      %span CATEGORY:
                      %strong
                        -# TODO
                        = link_to @product.category.title, "category_path(@product.category.bytitle)"
                  .quantity
                    = number_field_tag :quantity, '1', {size: 4, min: 1, step: 1}
                  = link_to 'ADD TO CART',
                            cart_items_path,
                            remote: true,
                            data: { method: :post, id: @product.id},
                            class: 'add-cart item_add add-to-cart-link',
                            id: 'productAdd'


              .clearfix
            .tabs
              %ul.menu_drop
                %li.item1
                  %a{:href => "#"}
                    =image_tag asset_path('arrow.png')
                    Description
                  %ul
                    %li.subitem1
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    %li.subitem2
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    %li.subitem3
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.item2
                  %a{:href => "#"}
                    =image_tag asset_path('arrow.png')
                    Additional information
                  %ul
                    %li.subitem2
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    %li.subitem3
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                %li.item3
                  %a{:href => "#"}
                    =image_tag asset_path('arrow.png')
                    Reviews (10)
                  %ul
                    %li.subitem1
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    %li.subitem2
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    %li.subitem3
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                %li.item4
                  %a{:href => "#"}
                    =image_tag asset_path('arrow.png')
                    Helpful Links
                  %ul
                    %li.subitem2
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    %li.subitem3
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                %li.item5
                  %a{:href => "#"}
                    =image_tag asset_path('arrow.png')
                    Make A Gift
                  %ul
                    %li.subitem1
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    %li.subitem2
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    %li.subitem3
                      %a{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et

            - unless @product.related.nil?
              .latestproducts
                = render partial: 'shared/product/products', locals: { products_title: 'Related Products', products: @product.related }
            .clearfix

            - if @recent_products.any?
              .latestproducts
                = render partial: 'shared/product/products', locals: { products_title: 'Recently Products', products: @recent_products}
            .clearfix
      .col-md-3.single-right
        = render 'shared/sidebar'
      .clearfix
