= render 'shared/breadcrumbs', title: 'Log in'

.prdt
  .container
    .prdt-top
      .col-md-12
        .product-one.login
          .register-top.heading
            %h2 Login

          .register-main
            .col-md-6.account-left
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group.has-feedback
                  = f.label :email
                  %br/
                  = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
                .form-group.has-feedback
                  = f.label :password
                  %br/
                  = f.password_field :password, autocomplete: "current-password", class: 'form-control'
                - if devise_mapping.rememberable?
                  .form-group.has-feedback
                    = f.check_box :remember_me
                    = f.label :remember_me
                .actions
                  = f.submit "Log in"
              = render "devise/shared/links"
