!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WatchRails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/main/top_header'
    .logo
      =link_to root_path do
        %h1 Luxury Watches
    = render 'shared/main/bottom_header'
    .content
      = render 'shared/notifications'
      = yield
    = render 'shared/main/footer'
